# Created by .gitignore support plugin (hsz.mobi)
build/

logs/
application.out
application.pid
event.log
gc.log

.idea/
log-redirector.iml

.gradle/
.settings/
bin/
.classpath
.project

src/main/resources/application-production.properties
